body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1065 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:31px;
  top:15px;
  width:20px;
  height:3px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:31px;
  top:20px;
  width:20px;
  height:3px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1072 {
  position:absolute;
  left:24px;
  top:2px;
  width:35px;
  height:35px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:607px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:607px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:296px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1076 {
  position:absolute;
  left:31px;
  top:62px;
  width:81px;
  height:20px;
  font-size:16px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1078 {
  position:absolute;
  left:122px;
  top:62px;
  width:218px;
  height:109px;
}
#u1078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  position:absolute;
  left:31px;
  top:199px;
  width:121px;
  height:40px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1081 {
  position:absolute;
  left:219px;
  top:199px;
  width:121px;
  height:40px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1064.a {
  width:320px;
}
#u1064_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1065.a {
  width:316px;
}
#u1068.a {
  left:20px;
  top:17px;
}
#u1068_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069.a {
}
#u1070.a {
  left:20px;
  top:22px;
}
#u1070_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071.a {
}
#u1072.a {
  left:13px;
}
#u1072_img.a {
}
#u1073.a {
}
#u1074.a {
  width:322px;
  height:509px;
}
#u1074_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:509px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075.a {
  top:246px;
  width:318px;
}
#u1076.a {
  left:26px;
  top:57px;
}
#u1076_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1077.a {
}
#u1078.a {
  position:absolute;
  left:117px;
  top:57px;
  width:176px;
  height:109px;
}
#u1078_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1079.a {
  left:20px;
  top:206px;
}
#u1079_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080.a {
}
#u1081.a {
  left:172px;
  top:206px;
}
#u1081_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1082.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1064.b {
  width:414px;
}
#u1064_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1065.b {
  width:410px;
}
#u1068.b {
}
#u1068_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069.b {
}
#u1070.b {
}
#u1070_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071.b {
}
#u1072.b {
}
#u1072_img.b {
}
#u1073.b {
}
#u1074.b {
  width:414px;
  height:677px;
}
#u1074_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:677px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075.b {
  top:330px;
  width:410px;
}
#u1076.b {
}
#u1076_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1077.b {
}
#u1078.b {
  position:absolute;
  left:122px;
  top:62px;
  width:218px;
  height:109px;
}
#u1078_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1079.b {
}
#u1079_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080.b {
}
#u1081.b {
}
#u1081_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1082.b {
}
