body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:320px;
  height:548px;
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  width:414px;
  height:716px;
}
#u0_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
}
