body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u378.a {
  width:340px;
  height:564px;
}
#u378_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:564px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u378.b {
  width:433px;
  height:735px;
}
#u378_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:735px;
}
